# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
*.env

# IDE
.vscode/
*.code-workspace

# Logs
*.log

# Build files
build/
dist/
*.egg-info/
*.egg

# Compiled files
*.pyc
*.pyo
*.pyd

# Miscellaneous
*.swp
*~
.DS_Store

#Data
data/